# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/ko.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/ko.po"
subhash="988e67763e541a1ba6bd9db750088821608c81a9414b58b3759c6ac8d6ca7420e4a8a460b7cb03acc26132a59c12ca9c5549dbbe2ae062f3f007fb8a258e9785"
