# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/vi.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/vi.po"
subhash="995754563bb472b93dfb5dd13b27b2540cebcf819be5ff2718553444b5fe06ad50a2fa8a0fdfcb06ab1bce9c2b870c950257c28b29e90413f1bfb42ad2643e72"
