# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/id.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/id.po"
subhash="78154279f7c4495b3546318a9eb694ecf0e1ca5018085aa47a1bb4505cefbe8e44d4af56aadff75c598157a5f15a1168ac5ead0cefef98704852a3d5b9fe0158"
