# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/lg.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/lg.po"
subhash="f64cb2add4ee65973bbb5e3509d9203ba8f136870c67795c21c0dde266514848a0b9d161a1e71c2b8732d1ef5200798d1b8be7ca4b0b44fae5acfe1810282f15"
