# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/pt.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/pt.po"
subhash="1bc2d024b1261b6f7a1fea00bc1ee45b29b860adfa98fcbb2022fbaf817ceefe12f961564bed01b129735fb838025e6d30e38020a9aeeb8aa5e14a2b22d07156"
