# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/he.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/he.po"
subhash="02c9775c3738f2ead03c3fb912f0706ce2716dbea9230ab342631a7207dda56ef0a14f2fe1d31ad60804aa2ab853897dfa39480630db6686152262962ffd283e"
