# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/fi.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/fi.po"
subhash="ec3cd99fd654c9008344148002310a4733b9edf9dbc8f0df952adac527230af936ae0dbd9acfab07b4b0cd7f0c01b2d17ba9e15fc7b527fc0dd974c9e42bf668"
