# SPDX-License-Identifier: GPL-3.0-or-later

subgit="https://review.coreboot.org/intel-microcode.git"
subgit_bkup="https://github.com/coreboot/intel-microcode"
subhash="f910b0a225d66a23a407710c61b0b63ee612b50f"
