# SPDX-License-Identifier: GPL-3.0-or-later

subgit="https://review.coreboot.org/arm-trusted-firmware.git"
subgit_bkup="https://github.com/coreboot/arm-trusted-firmware"
subhash="9109143417b24337d39a2a9583828a44996f8aac"
