# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/sr.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/sr.po"
subhash="5e9a51dfb02fef0daa26c1df37e606952f2f922a6933e5ce0890eaabc039ec5e13de50a4fd927d9c9ab15385cca9b8b1f33b35bccde50384f45c75769a5f04ea"
