# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/es.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/es.po"
subhash="9821774d0c2c9ae498688d170f0563a0b4bac013922de0769c49c30830ecde27c0ea7bd599a6f2e9a317629faac326dbb3f0c159e4e72bf943f30febe88c08b6"
