# SPDX-License-Identifier: GPL-3.0-or-later

rev="3ea792664ed29ca1ff3e2e78d1d16099684781bd"
url="https://codeberg.org/libreboot/pico-serprog"
bkup_url="https://git.disroot.org/libreboot/pico-serprog"
depend="pico-sdk"
