# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/de.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/de.po"
subhash="0d58da2e7d3d18ffa6d45a0e22bd8841699704438b95abc6658935fcec4b0f7fa8f279b5ed08ba3881e5fed56d3beedfeaaab14686146bf8dd194c7a4179065a"
