# SPDX-License-Identifier: GPL-3.0-or-later

subgit="https://review.coreboot.org/libgfxinit.git"
subgit_bkup="https://github.com/coreboot/libgfxinit"
subhash="3c3828add50024e90e57d6fbe0e660d1b66302d9"
