# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/ro.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/ro.po"
subhash="f4c5f621ea217b06b07f6db29da921358de49ed9ebb655b0b1331fd48b0a68795c7c666f0b97833ad5f6e3fdbd0918b4e8f00bcc890e5f3673121c0b676ffda4"
