# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/gl.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/gl.po"
subhash="0e80f4a57e55c7b5c849f4283c830a6c4852a5d3e5a86fdaa00aeb02bc7ccbca72c6c4e2530bf1db6a6f83073c00c8f4df6f1e08a340ce58b58f5f09099cd616"
