# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/pa.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/pa.po"
subhash="00f2ea030d9f275cf4828e01cf7a9a0912f48ffeaad6b1085783bfb5772437e9a354cd4337b79fc6c0fc7827ebeeaa38b1422e105c00d4c58ea685824d8b28ea"
