# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/da.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/da.po"
subhash="d53dafc5e4c4a7a2943923c44fd7a6af8fb1b4b40297e639952c2f65baa068d9103414de69fd9030a926907d78d5d240244ac8e6e4ae94dac15330e228635e70"
