# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/ast.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/ast.po"
subhash="9960439950f0a6f89fcb3a014a0bdbf06e322f0cff699b9f4e8783dea9233cfde800cfa6b94811ddb42eec62bf1bfb9f0fd64805ac2d24b68f3a854f4e02b40b"
