# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/ja.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/ja.po"
subhash="df13d6e26079bd196c3f0bb3f0ea8f1d8279e0fc2706a5a1b3e0b388a667500efa64ca6d5c50d4a0bf7e5736d0af9bbf27e851883746ce8292ed5f91a6d025d7"
