# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/hr.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/hr.po"
subhash="baa819047d7ef709fdbd089c2ddee0d4ea0ec32cee7aff81ae087214fb0bf41fa0266750770f08b6f61d0831b7d4fc8358181e374b287ca7067a7832334c5047"
