# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/sl.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/sl.po"
subhash="3047e48665c0528eefdb201cff12c2ef5c937b10ee8cbca637ee6b5a9c8017604c7f849830ae0f5dcc4613efb490a41668f925d499e6083fa4587653327819cb"
