# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/uk.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/uk.po"
subhash="0545c90c2bc5df9ee813806cff9a5193d8fbef00aab80f85cef14f967c8d9fd650de3a0bd1063abb8fcc65b5c68e59a02832fda6827e7120fdf0a28fe58a3474"
