# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/hu.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/hu.po"
subhash="f397b572cfc1e1a57a6415cb0f674041fbe661393cbb8c6f2f70da4e830e7019ac4cb7d6408a2695e19493e555e8a391c16a1c5b0d44fc653c5be433d4f94030"
