# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/eo.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/eo.po"
subhash="14db316ab5b8599031019f5d7f0fc8f6c847478945170f1555f1bc0e427ad7133d3b5f40dc019f356ed86521255ac74f602ef7f081a4bc2c25dbaae7a0adc545"
