# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/acpica/acpica-unix-20250807.tar.gz"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/acpica/acpica-unix-20250807.tar.gz"
subhash="408aa933cacbef50a728675001204530bae2ea31a8cde1c54a604b350ca9c7b59dd9cde8dccaf7c1a59e466baac59585466c2ccd80ddd038c8f6048edbc5f19c"
