# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/lt.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/lt.po"
subhash="3770cf0624a892868df1c64100bccfcd41ca4707c96d92c1752570c2957c9d861065a5f9d5250bba307e520aedb00ebbcd4d09902a305421708a5da54b39cd56"
