# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/nb.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/nb.po"
subhash="58671e04ed2ca88ece06ff5c6dc5e09fda1f1d7d0c510ece8f8777c090a39f0a1cf89e7783797219f343efb19aa0b75a7dcf3d8f7bc48589109ba0a18b14d122"
