# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/tr.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/tr.po"
subhash="a83ebdd25d5438ff6489d88a8cb0657e606c2fc2c1efbc7dd34193fda4e0d92e10f9a29185c12e665af151b995c12b8bce755418d9e6c9978dddc23ca4a10d2b"
