# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/pl.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/pl.po"
subhash="1de3545a3015986435c091b7ee3339c5bd9bddb3e8814b6cfb55acdb957829dc453e05812063b7438ae6aec0abc232065413be7456fb95ad0a5da8d36e7076ce"
