# SPDX-License-Identifier: GPL-3.0-or-later

subhash="68863fd7491f1358fb920d8ad558de35fcfec769"
subgit="https://codeberg.org/libreboot/lbwww-img"
subgit_bkup="https://git.disroot.org/libreboot/lbwww-img"
