# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/fr.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/fr.po"
subhash="7d863df1d733b57bde6a4e15e37d100523d740c9b0b7a95eaffd8bfffbb32fabc21d4d76f8d6f8c9d3b68a11f472157a3e3d385cd2e360284a02697772a17eff"
