# SPDX-License-Identifier: GPL-3.0-or-later

subcurl="https://www.mirrorservice.org/sites/libreboot.org/release/misc/grub/sv.po"
subcurl_bkup="https://mirror.math.princeton.edu/pub/libreboot/misc/grub/sv.po"
subhash="80b249091e2cfb369da1a4365fe76f7643ed6b34e46b4ee73359721ece6d87ef0c1f099a46f74b4c85416bea431c7dc36bf36ab16dce36e2d6c0c1b890b431dc"
